*.aux
*.aux
*.log
*.out
*.toc
*.idx
*.run.xml
*.synctex.gz
*.synctex.gz(busy)
*.upb
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.xdv
*.ps
*.dvi
*.lof
*.lot
*.ilg
*.ind
*.nav
*.snm
*.vrb
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.bcf
*.upa
.vscode
